<h1>Log in</h1>

<%= form_for(@user, url: login_path) do |f| %>
  <div class="mb-3">
    <%= f.label :email, "E-mail", class: "form-lable" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password, "Password", class: "form-lable" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <%= f.submit "Log in", disable_with: "Submiting...", class: "btn btn-primary" %>
<% end %>