<div class="container">
  <div class="row text-center">
    <h1>New Mission</h1>
  </div>

  <div class="row justify-content-end">
    <div class="col-3">
      <%= link_to "Back To List", missions_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <%= form_for @mission do |f| %>       
        <div class="mb-3">
          <%= f.label :title, 'Title', class: "form-lable" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :description, 'Description', class: "form-lable" %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :start_at, 'Start time', class: "form-lable" %>
          <%= f.datetime_field :start_at, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :finish_at, 'Finish time', class: "form-lable" %>
          <%= f.datetime_field :finish_at, class: "form-control" %>
        </div>
        <%= f.submit "Submit", disable_with: 'Submiting...', class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>



